@import "base/extends";
@import "base/normalize";
@import "base/forms";
@import "base/helpers";
@import "base/typography";

// @import "components/";
@import "components/components";

// @import "layout/";
@import "layout/layout";

// @import "vendor/";
@import "vendors/vendors";

// ======
// Basic Styles
// ======

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #eee;
  color: #444;
}

h1 {
  color: red;
}