doctype html
html
    head
        title Hello Wold
        link(rel="stylesheet", href="/css/app.css")
        script(src="/js/vendor/custom.modernizr.min.js")
    body
        h1 Hello World
        h2 For Sure
